
.my-5 {
    max-width: 400px;
    margin: 0 auto;
    background-color: #a7ecaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #00b32a;
  }